body {
    background-color: #f6f3ff;
}

main{
    margin: 0;
    padding: 0;
}
.font-arial{
    font-family: arial;
    font-size: 16pt;
}

.formCli {
    margin: 5rem,10rem;
    width: 800px;
    padding: 10px 20px;
    border: 1px solid #25d366;
}


.titulo-inicio{
    cursor:pointer;
    width: 80%;
    text-align: center;
    margin:80px auto 0 auto;
    padding: 50px 0;
    font-family:Dialog;
    color: rgba(13, 18, 24, 0.99);
    text-shadow: 2px 2px 2px white;
    border-radius:20px 20px;
    border-style: solid;
    border: 5px solid rgba(0,0,0,.5) ;
    background-color: rgba(30,144,255,.5);
}
.informacao{
    width: 100%;
    text-align: center;
    min-height: 200px;
    background-color: #dddddd;
    display: none;
}

.informacao p{
    padding:30px 0 40px 0;
    text-indent: 20px;
    text-align: center ;
    font-family: Cantarell;
    font-size:18pt;
}

.hero {
    margin-top: 1rem;
    width: 9.3rem;
}

footer {
    margin-bottom: 0;
    background-color:#d2f9e3;
    color: #28093b;
    font-family: "Arial";
    font-size: 14pt;
    text-align: center;
    padding: 20px;
    margin: 0;
}


.card-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #5B2D6B;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.ico {
    font-size: 8rem;
}

.logoForm {
    height: 200px;
    width: 380px;
}

.texto {
    
    text-align: center;
    margin-top: 20px;
}

.icon-text {
    display: flex;
    
}

.icon-text i {
    margin-right: 15px;
}


.title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .phone {
      font-size: 18px;
    }
    
    .address {
    font-size: 16px;
}

/* whatsapp */

#whats {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}

    @media print {
        #whats {
            display: none;
        }
        .btCriar, h3 {
            visibility: hidden;
        }
       form {
        margin: 0;
       }
    
    .ico {
        font-size: 8rem;
    }
    
      .logoForm {
        height: 200px;
        width: 380px;
        filter: invert(100%) grayscale(1);
      }
    
      .texto {
        
        text-align: center;
        margin-top: 20px;
        color: #282828;
      }
    
      .icon-text {
        display: flex;
        
      }
      
      .icon-text i {
        margin-right: 15px;
      }
    }
    

    @media screen and (max-width: 1150px) {
        .data{
            font-size: 10pt;
        }
    
        
    }
