* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f3ff;
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    padding: 20px;
}

.card {
    border-radius: 15px;
    border: none;
}

.card.overview {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-value {
    font-size: 2rem;
    font-weight: bold;
}

.card-progress {
    margin-top: 10px;
}

.indicator {
    height: 8px;
    border-radius: 6px;
}

.indicator.one {
    background: #72e3af;
}

.indicator.two {
    background:#45c58a;
}

.indicator.three {
    background: #72e3af;
}

.indicator.four {
    background:#45c58a;
}



.entrada {
    background: #C8F7DC;
    color: #13462a;
}

.caixa {
    background: #DBF6FD;
    color: #194d5c;
}

.saida {
    background: #FFD3E2;
    color: #50162a;
}

.pecas {
    background: #D5DEFF;
    color: #1c2d69;
}

.terceiro {
    background: #FEE4CB;
    color: #5e3b1b;
}

.card-body.scale a {
    text-decoration: none;
}

.card-body.scale:hover {
    background: #caecf5de;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}

.card-title, .card-value {
    color: #13462a;
}

.total-os {
    background: #DBF6FD;
    color: #194d5c;
}

.abertas {
    background: #DBF6FD;
    color: #194d5c;
}


.concluidas {
    background: #DBF6FD;
    color: #194d5c;
}

.clientes {
    background: #DBF6FD;
    color: #194d5c;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.g-3 {
    gap: 1rem !important;
}

.shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
